.category-button {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.service-cell {
  padding: 5px;
  min-height: 155px;
}

.card {
  margin: 5px;
}

.service-cell .card img {
  width: 50px;
  padding-right: 10px;
  float: left;
}

.card.callout.secondary {
  min-height: 100%;
}